﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    <link href="~/Content/all.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("StoreManagement", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Pricing</a>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_CartSummary")
            @*<ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Cart/DisplayCart" class="nav-link"><i class="fa fa-shopping-cart"></i>[0] Cart</a>
                </li>               
            </ul>*@
            </div>
        </div>
    </div>
    <div class="container body-content padding">
        @RenderBody()
        
    </div>
    <div>
            <footer class="">
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </div>

            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/all.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
