﻿@using StoreMnagement.Infrastructure.Entities
@model IEnumerable<Category>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">All Categories</h2>
        </div>
        <div class="col-6 text-right">
            <a href="/CategoryRepositoryNinject/Create" class="btn btn-primary">Create New Category</a>
        </div>
    </div>
    <br /><br />
</div>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>SN</th>
                <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a href="/CategoryRepositoryNinject/Edit/@item.Id" class="btn btn-primary mx-2" title="Edit"><i class="fa fa-edit"></i></a>
                            <a href="/CategoryRepositoryNinject/Details/@item.Id" class="btn btn-success mx-2" title="Details"><i class="fa fa-info"></i></a>
                            <a href="/CategoryRepositoryNinject/Delete/@item.Id" class="btn btn-danger mx-2" title="Delete"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <p>No Category Exists</p>
}

