﻿@model StoreMnagement.Infrastructure.Entities.Product

@{
    ViewBag.Title = "Delete";
}
<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">StoreManagement</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Delete Product</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">




                    <dt>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductDescription)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductImagePath)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductImagePath)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductUnitPrice)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductUnitPrice)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateAdded)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ExpiryDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExpiryDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</section>