﻿
@using StoreMnagement.Infrastructure.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
}
<section>
    <div class="container">
        <div class="row mb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">StoreManagement</a></li>
                                <li class="breadcrumb-item active" aria-current="page">All Products</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="text-right">
                    <a href="/ProductRepositoryNinject/Create" class="btn btn-primary">Add New Product</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">All Products</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>

                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductDescription)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductImagePath)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductUnitPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateAdded)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ExpiryDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Category.CategoryName)
                                        </th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductDescription)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductImagePath)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductUnitPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateAdded)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExpiryDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group" role="group">
                                                    <a href="/ProductRepositoryNinject/Edit/@item.Id" class="btn btn-primary mx-2" title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="/ProductRepositoryNinject/Details/@item.Id" class="btn btn-success mx-2" title="Details"><i class="fa fa-info"></i></a>
                                                    <a href="/ProductRepositoryNinject/Delete/@item.Id" class="btn btn-danger mx-2" title="Delete"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
