﻿@model StoreMnagement.Infrastructure.Entities.Product

@{
    ViewBag.Title = "Details";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">StoreManagement</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="text-right">
                    <a href="/Home/Index" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0  m-b-30">
                <div class="product-details">
                    <a href="">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </a>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0 m-b-30 pl-md-5">
                <div class="">
                    <h3>@Model.ProductName</h3>
                    <p>@Model.ProductUnitPrice.ToString("C")</p>
                    <p>@Model.ProductDescription</p>
                    <div class="def-number-input number-input safari_only mb-0 w-100">
                        <input class="form-control" min="0" name="quantity" value="1" type="number">
                    </div>
                    <a href="/Cart/AddToCart/@Model.Id" class="btn btn-dark mt-3"><i class="fa fa-shopping-cart mr-2"></i>Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>