﻿@using StoreMnagement.Infrastructure.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
}

<section>
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-10">
                <div class="search-box col-md-10">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Category One</a>
                                    <a class="dropdown-item" href="#">Category Two</a>
                                    <a class="dropdown-item" href="#">Category Three</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated Category</a>
                                </div>
                                @*@Html.DropDownList("productCategory", "All")*@
                            </div>
                            @Html.TextBox("SearchString")
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="album py-5 bg-white">

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6"><h5 class="card-title">@item.ProductName</h5></div>
                                    <div class="col-md-6 text-right">
                                        Price:
                                        @{
                                            @item.ProductUnitPrice.ToString("C");
                                        }
                                    </div>
                                </div>
                                <p class="card-text">Category: @item.Category.CategoryName</p>
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="/Cart/AddToCart/@item.Id" class="btn btn-sm btn-outline-success"><i class="fa fa-shopping-cart mr-2"></i>Add to Cart</a>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="/Home/Details/@item.Id" class="btn btn-sm btn-outline-secondary"><i class="fa fa-eye mr-2"></i>Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>