﻿
@*@Html.ActionLink("Cart
    (" + ViewData["CartCount"] + ")",
        "DisplayCart",
        "Cart",
        new { id = "cart-status" })*@

<a href="/Cart/DisplayCart" class="nav-link"><i class="fa fa-shopping-cart"></i>[0] Cart</a>