﻿@model StoreMnagement.Infrastructure.Entities.Payment
@{
    ViewBag.Title = "Payment";
}

<section class="payment">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">StoreManagement</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Payment</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="text-right">
                    <a href="/Checkout/Checkout" class="btn btn-primary">Back to Checkout</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="card">
                    <h5 class="card-header">Payment</h5>
                    <div class="card-body px-4 py-3">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Cardname, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.Cardname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cardname, "", new { @class = "text-danger" })
                                
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Cardnumber, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.Cardnumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cardnumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        @Html.LabelFor(model => model.Cvc, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Cvc, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. 311"} })
                                        @Html.ValidationMessageFor(model => model.Cvc, "", new { @class = "text-danger" })
                                       
                                    </div>

                                    <div class="col">
                                        @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Month, new { htmlAttributes = new { @class = "form-control", placeholder = "MM" } })
                                        @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col">
                                        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY" } })
                                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class='form-row'>
                                    <div class='col-md-12'>
                                        <div class='form-control total btn btn-info'>
                                            Total:
                                            <span class='amount'>$300</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <button class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

